.chattext {
  background: rgb(32, 35, 42);
  box-shadow: 6px 6px 13px rgb(26, 28, 34), -6px -6px 13px rgb(38, 42, 50);

  padding: 1rem;
  color: rgb(255, 255, 255);
}

.chattext__caja {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chattext__caja p {
  width: 70%;
}

.chattext--rojo {
  background-color: rgb(242, 75, 75);
  padding: 1rem;
  margin-left: 40%;
  margin-bottom: 1rem;
  width: 60%;
  border-radius: 1rem;
}

.chattext--oscuro {
  background-color: rgb(38, 42, 50);
  padding: 1rem;
  margin-bottom: 1rem;
  width: 60%;
  border-radius: 0.5rem;
}
