.navchat {
  background: rgb(32, 35, 42);
  box-shadow: 6px 6px 13px rgb(26, 28, 34), -6px -6px 13px rgb(38, 42, 50);
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.usuario__text {
  margin-right: 1rem;
}

.usuario__text h4 {
  color: rgb(255, 255, 255);
}

.usuario__text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7rem;
}

.usuario {
  display: flex;
  align-items: center;
}

.usuario__img {
  background-color: aliceblue;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
